@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #15405a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fade-transition {
  position: fixed;
  inset: 0;
  display: flex; 
  justify-content: center;
  align-items: center;

  transform: translateY(0%); /* rideau visible au début */
  background: linear-gradient(#33279E, #7363ff);

  pointer-events: all;
  transition: transform 0.5s ease-in-out;
  z-index: 9999;
}

.fade-transition .text {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: #ffffff;
}

/* Rideau visible (avant redirection) */
.fade-transition.active {
  transform: translateY(0%);
  pointer-events: all;
}

/* Rideau descend après chargement */
.fade-transition.slide-down {
  transform: translateY(100%); /* entièrement descendu */
  pointer-events: none;
}

.checkbox-text {
    cursor: pointer;
    padding: 5px 10px;     
    border-radius: 5px;     
    color: #000000;  
    font-weight: bold;
    font-size: 16px;
}

#r {
    cursor: pointer;
    padding: 5px 10px;     
    border-radius: 5px;     
    color: #000000;  
    font-weight: bold;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#313131, #6b6b6b);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h4 {
    text-align: center;
    font-size: 20px;
}
h2 {
    text-align: center;
    font-size: 12px;
}
hr {
    margin: 10px 0;
    background-color: #938f8f;
    border: 0;
    height: 1px;
    width: 100%;
}
.user-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
}@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #15405a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.fade-transition {
  position: fixed;
  inset: 0;
  display: flex; 
  justify-content: center;
  align-items: center;

  transform: translateY(0%); /* rideau visible au début */
  background: linear-gradient(#33279E, #7363ff);

  pointer-events: all;
  transition: transform 0.5s ease-in-out;
  z-index: 9999;
}

.fade-transition img {
  height: 50px;
  display: block;
  margin: 0;
  padding: 5px;
}

.fade-transition .text {
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: #ffffff;
}

/* Rideau visible (avant redirection) */
.fade-transition.active {
  transform: translateY(0%);
  pointer-events: all;
}

/* Rideau descend après chargement */
.fade-transition.slide-down {
  transform: translateY(100%); /* entièrement descendu */
  pointer-events: none;
}

.checkbox-text {
    cursor: pointer;
    padding: 5px 10px;     
    border-radius: 5px;     
    color: #000000;  
    font-weight: bold;
    font-size: 16px;
}

#r {
    cursor: pointer;
    padding: 5px 10px;     
    border-radius: 5px;     
    color: #000000;  
    font-weight: bold;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#313131, #6b6b6b);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
h4 {
    text-align: center;
    font-size: 20px;
}
h2 {
    text-align: center;
    font-size: 12px;
}
hr {
    margin: 10px 0;
    background-color: #938f8f;
    border: 0;
    height: 1px;
    width: 100%;
}
.user-field {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
input:focus {
    border: 1px solid #009bf9;
}

input[type="submit"]{
    margin-top: 15px;
    background-color: #009bf9;
    color: white;
    border: 1px solid #009bf9;
    cursor: pointer;
}

p {
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
}
p a {
    text-decoration: 0;
    color: #1a4864;
}
p a:hover {
    text-decoration: underline;
}

